.theme-container
    .hero
        #main-title
            color #0d6387
        img
            border-radius 50%
            max-height 200px !important

    .navbar .site-name
        display none
